<h1>Questions#ask</h1>
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->
<p>Ask your coach something:</p>

<form action="/answer">
  <input type="text" name="question" placeholder="ask...">
  <input type="submit" value="Ask!">
</form>
